{
	"presets": [
		"es2015",
		"react",
		"stage-0"
	],
	"env": {
        "development": {
            "plugins": [
				"transform-decorators-legacy",
				[
					"react-transform",
					{
						"transforms": [
							{
								"transform": "react-transform-hmr",
								"imports": ["react"],
								"locals": ["module"]
							}
						]
            		}
				],
				[
					"react-css-modules",
					{
						"generateScopedName": "[path]___[local]___[hash:base64:5]",
						"filetypes": {
							".scss": "postcss-scss"
						}
					}
				]
			]
        }
    }
}