.yearHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.yearHeader--monthYear {
	margin: 10px;
}

.yearHeader--monthYear__month {
	font-weight: 800;
	font-size: 2em;
}

.yearHeader--monthYear_year {
	font-size: 2em;
}

.yearHeader--selector {
	margin: 10px;
}

.yearHeader button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
	font-weight: 600;
}