.monthContent {
	width: 100%;
}

.monthHeader {
	align-items: right;
	color:  gray;
	text-align:  right;
	font-size: medium;
	vertical-align: bottom
}

.monthHeader--dayOfWeek {
	text-align: right;
	vertical-align: top;
}
