.monthContent {
	width: 100%;
}

.monthHeader {
	align-items: right;
	color:  white;
	font-size: medium;
	vertical-align: bottom;
	box-shadow: 2px 2px 3px #888888;
}

.monthHeader--dayOfWeek {
	text-align: center;
	vertical-align: center;
	line-height: 2.5;
	border: 1px solid #B6C2D9;
	background: #4D7EA8;
}

.monthBody--dayOfWeek {
	text-align: center;
	letter-spacing: 0.25em;
	border: 0.05em solid #B6C2D9;
	padding: 5px;
}

.monthBody--dayOfWeek__notes {
	font-weight: 700;
	color: white;
	background: #FF7070;
}

.monthBody--dayOfWeek__weekEnd {
	color: gray;
	background: #EDF0F9;
}